<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simon Linford</title>
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
</head>
<body>

<div class="container-main" id="main">
  <div id="topL">
	<h2>Simon Linford<br><strong>&nbspJava Developer&nbsp</strong></h2>

    <p><h4>Hello there.<br>Welcome to my homepage.</h4></p>

  </div>
  <div id="topR">
	<img th:src="@{/images/portrait.png}" id="pic" alt="portrait" title="portrait">
  </div>
  <div class="continer-content" id="content_flex">
    <article id="lft">
		<h1>&lt/&gt</h1>
	</article>
    <article id="rgt">
      <strong>&nbspMy Projects&nbsp</strong>
      <p>I write Java applications for the web. Here are a few examples of applications that I've worked on recently:</p>
      <ul>
        <li>Collection Manager: <a href="https://suracki-collector.herokuapp.com/">Try</a> or view on <a href="https://github.com/Suracki/Collector/">GitHub</a>
        <ul>
          <li>SpringBoot application to manage multiple collections of different item types.</li>
          <li>Includes additional functionality for some item types; eg Scryfall API for Magic cards.</li>
        </ul>
        <li>Adventure Game Engine: <a href="https://suracki-game.herokuapp.com/">Try</a> or view on <a href="https://github.com/Suracki/residentmystery/">GitHub</a>
          <ul>
            <li>Text adventure game engine in Java using SpringBoot/Thymeleaf.</li>
            <li>Includes basic demo game to show functionality.</li>
            <li>Application allows admin user to create games with variety of different elements.</li>
          </ul>
        <li>OpenClassrooms Projects: <a href="https://github.com/Suracki/OC-Project-Index">GitHub</a></li>
        <ul>
          <li>Projects completed as part of OpenClassrooms diploma course.</li>
          <li>Includes projects using Java, Spring Boot, Docker, MySQL, MongoDB and more.</li>
        </ul>
        <li>Other projects to come</li>
      </ul>
      <p>Educational background:<br> BSc Computer Science from University of Kent
      <br>Java Web Developer Diploma from OpenClassrooms</p>
      <p>Current interests in development:<br>Java, Spring Boot, HTML, CSS & more</p>
    </article> 
  </div>
  <div id="btmL">
    <h2>Find me on social media</h2>
    <h3><strong>A new project idea?</strong> Contact me!</h3> 
    <a href="https://twitter.com/Suracki" class="fa fa-twitter"></a>
    <a href="https://github.com/Suracki" class="fa fa-github"></a>
    <a href="https://www.linkedin.com/in/simon-linford/" class="fa fa-linkedin"></a>
  </div>
  <div id="btmR"></div>
</div>
</body>
</html>
